==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title" id="what-we-do">What We Do</h2>
      <p class="flow-text">We are programmers, IT specialists, and marketing and business gurus who go to work every day with only one goal in mind – business profitability. Our innovative business model allows us to give you the personal service and responsiveness of a small boutique firm and the speed, flexibility, and pricing of large overseas vendors. Here’s what sets us ahead of the pack:We’re attuned to the unique technology challenges faced by businesses today. We offer customized software development and support services tailored to your needs.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-tools primary-color-text"></i>
      <h5><a href="{{ 'services/web-development-services'|page }}">Web Development</a></h5>
      <p>Our in-house speciality is to transform your ideas and concepts into lucrative products. From inception to production.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-display1 primary-color-text"></i>
      <h5><a href="{{ 'services/web-design-services'|page }}">Web Design</a></h5>
      <p>Creative, Artistic and Innovative. Our web design team is always ready to target any size project. Get it done right! is our motto.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-user primary-color-text"></i>
      <h5><a href="{{ 'services/social-media-services'|page }}">Social Media</a></h5>
      <p>Initiate interaction with new prospects and convert them to paying customer. From Facebook to Yelp reviews, we can help you.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-global primary-color-text"></i>
      <h5><a href="{{ 'services/domain-management-solutions'|page }}">Domains</a></h5>
      <p>Whether we're buying your ideal domain or selling your premium domains for the best prices, we are here to assist you in the process.</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Our Platform</h2>
      <p class="flow-text">With today’s technology your project can be the opportunity you need for business process improvement at any level. From better marketing communications and increased sales leads, to streamlined and automated fulfillment processes and data management – today’s web technology systems mean that the days of “online business cards” are over.
      </p>

      <p>At Essential Customer Outreach we understand that your web development project plays a key role in the success of your business.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/software-development.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/social-media-branding.jpg'|theme }}">
    </div>
  </div>

  <div class="hide-on-small-only" style="height: 20px;"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/e-commerce-services.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/web-development-design-blog-service.jpg'|theme }}">
    </div>
  </div>
</div>