==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">A New Social Paradigm</h2>
      <p class="flow-text">Social media doesn’t stand still. Where should you spend your time? Should you focus on customer acquisition, customer retention or both? When should you try to colonize a new social outpost? What about the balance between social media marketing and social customer care?
      </p>

      <p>We will help you take your social media program from good to outstanding. Based on our work with some of the world’s largest brands, plus our day-to-day experience running an award-winning social media program via our Social Conversion program, we bring the strategy, operational know-how and hype-free counsel you need. 
      </p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-user primary-color-text"></i>
      <h5>Identify</h5>
      <p>We work with the leading networks to help you identify new followers, retain your current customers and gain their loyalty.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-link primary-color-text"></i>
      <h5>Connect</h5>
      <p>Know what your targeted audience is looking for, its our job to connect you with your customers at a personal level.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-like primary-color-text"></i>
      <h5>Interact</h5>
      <p>Social media engagement is the way to keep your followers coming back to you. We utilize a variety of different proven methods.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-cart primary-color-text"></i>
      <h5>Convert</h5>
      <p>The point at which a recipient of a marketing message performs a desired action and here is where we make the difference.</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">The Real Socilites</h2>
      <p class="flow-text">In order to be effective at converting followers to customers with social media you need to treat it as a key part of your overall content marketing machine. This means that social media becomes a place where you distribute high-value content to your audience.
      </p>

      <p>
        But it’s not just about the value of the content you’re linking to; what really counts is the unique interaction we at Essential Customer Outreach provide!
      </p>
    </div>
  </div>