==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Lets Turn Your Ideas Into Projects</h2>
      <p class="flow-text">As per Wikipedia <a href="https://en.wikipedia.org/wiki/Web_development" target="_blank">Web development</a> is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing the simplest static single page of plain text to the most complex web-based internet applications, electronic businesses, and social network services. </p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-note primary-color-text"></i>
      <h5><a href="{{ 'services/web-development-services'|page }}">Plan</a></h5>
      <p>The planning stage is arguably the most important, because what’s decided and mapped here sets the stage for the entire project.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-tools primary-color-text"></i>
      <h5><a href="{{ 'services/web-design-services'|page }}">Develop</a></h5>
      <p>Keep code organized and commented, and refer constantly to the planning details as the full project takes shape.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-look primary-color-text"></i>
      <h5><a href="{{ 'services/social-media-services'|page }}">Test</a></h5>
      <p>Testing in the production environment is important because different servers can have different features and unexpected behavior.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-exapnd2 primary-color-text"></i>
      <h5><a href="{{ 'services/domain-management-solutions'|page }}">Deploy</a></h5>
      <p>Deploying to production is a tricky business, wether appending to an existing project or a new one. A methodical process is required.</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Our Methodology</h2>
      <p class="flow-text">Visualize an application that connects a multitude of services – finance, analytics, external data providers, automation, business logic, etc., all connected and working together to empower you to focus on growth. Sounds good? At Essential Customer Outreach, we have been developing innovative and functional custom web applications that generate more revenue and improve efficiency for your business.
      </p>
    </div>
  </div>