==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Vision. Design. Atract</h2>
      <p class="flow-text">When you think of building a website, your thoughts rotate around two main issues – price and time. These two values depend largely on the size and scope of the project. Our pride and joy comes from the unique, innovative and search engine friendly web designs we offer to all of our clients. For any company looking to attract more online customers or establish brand-awareness, having a custom web design is the best way for you to create a superior web presence that won’t be forgotten! </p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-info primary-color-text"></i>
      <h5>Plan</h5>
      <p>This stage, the stage of information gathering, discovering and researching, determines how the subsequent steps will look like.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-pen primary-color-text"></i>
      <h5>Prototype</h5>
      <p>A prototype bridges the gap between printed site maps, lists of technical requirements, and the final website.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-display1 primary-color-text"></i>
      <h5>Design</h5>
      <p>Testing in the production environment is important because different servers can have different features and unexpected behavior.</p>
    </div>
    <div class="lt-col col m3 s12">
      <i class="large pe-7s-cloud-upload primary-color-text"></i>
      <h5>Deploy</h5>
      <p>Deploying to production is a tricky business, wether appending to an existing project or a new one. A methodical process is required.</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Our Vision</h2>
      <p class="flow-text">With our Web Enhancement and revitalization solutions, your business site can be more dynamic, user friendly, easier to navigate, and interactive with features such as customer service chat and multimedia. So, let us evaluate your site to see what we can do for you and your business.
      </p>
    </div>
  </div>