==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">What We Did</h2>
      <p class="flow-text">Essential Customer Outreach offers innovative web development solutions. Our mission is to empower customers and businesses with a wide variety of premium technology services including: advisory, design, development, training, support and maintenance. We are ready to help.</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Our Projects</h2>
      <p class="flow-text">It is time that you make the decision of choosing us and experience for yourself the Online Thinkers advantage. Here, we will let the results do the talking for us..</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/portfolio-pbx.jpg'|theme }}">
        <span class="card-title">MesaPBX</span>
      </div>
      <div class="card-content">
        <p>Cloud based faxing service utilizing multiple providers API. Back-end system was design for multi-tenant and white label integratros. #php #laravel #bootstrap #api #development</p>
      </div>
      <div class="card-action">
        <a href="http://www.faxit.cloud/" target="_blank">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/portfolio-jet-speed-aviation.jpg'|theme }}">
        <span class="card-title">Jet Speed Aviation</span>
      </div>
      <div class="card-content">
        <p><b>*Under Development*</b> A listing management tool that pushes and updates the clients items to theirs social media outlets. #php #js #laravel #octobercms #facebook #twitter #development</p>
      </div>
      <div class="card-action">
        <a href="http://ww2.jetspeedaviation.com/" target="_blank">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/portfolio-fleet-service-of-florida.jpg'|theme }}">
        <span class="card-title">Fleet Service of Florida</span>
      </div>
      <div class="card-content">
        <p>FSOF is a small business that wanted a big business look and feel precense in the internet. A beautiful and fast loading web site was design. #html5 #css #js #bootstrap #design</p>
      </div>
      <div class="card-action">
        <a href="http://fleetservicesofflorida.com/" target="_blank">Visit Site</a>
      </div>
    </div>
  </div>
</div>

<div class="hide-on-small-only" style="height: 20px;"></div>

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/portfolio-tingaso.jpg'|theme }}">
        <span class="card-title">Tingaso</span>
      </div>
      <div class="card-content">
        <p>Tingaso is a Laravel-PHP/Asterisk dialer that allows its admin to generate calls based phone number ranges. #php #laravel #js #jquery #chartjs #bootstrap #asterisk #development</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/mazpe/tingaso" target="_blank">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/portfolio-loyal-driver.jpg'|theme }}">
        <span class="card-title">Loyal Driver</span>
      </div>
      <div class="card-content">
        <p>Build an advanced call center CRM portal integrated with multiple automotive dealer management systems. #php #laravel #js #bootstrap #adp #reyrey #automotive #development</p>
      </div>
      <div class="card-action">
        <a href="https://www.loyaldriver.com/" target="_blank">Visite Site</a>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/portfolio/mainpage/portfolio-dealer-geek.jpg'|theme }}">
        <span class="card-title">Dealer Geek</span>
      </div>
      <div class="card-content">
        <p>We are partners and consultants for Dealer Geek automotive dealers division. With over 15 years of technological experience in the car dealers. #consulting #automotive #dealers</p>
      </div>
      <div class="card-action">
        <a href="https://www.laratify.com/" target="_blank">Visit Site</a>
      </div>
    </div>
  </div>
</div>