==
<div class="lt-row row">
  <div class="lt-col col s12">
    <h2 class="lt-title center">Testimonials</h2>
  </div>
</div>

<div class="lt-row row">
  <div class="col s12">
    <div class="lt-owl-carousel owl-carousel owl-theme">
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>They were willing to help in every way, developing a professional and beautiful website which showcases our company very well.</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-img"><img class="circle responsive-img" src="{{ 'assets/img/pages/home/extension/img-01.jpg'|theme }}" alt="user"></div>
                <div class="lt-testimonial-author-name">Charles Philips</div>
                <div class="lt-testimonial-author-position">Fleet Service of Florida</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>I couldn’t be happier with the work I received from Essential Customer Outreach. The web site has become such a great tool for my business. I am so in love with my branding, I receive compliments everyday.</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-img"><img class="circle responsive-img" src="{{ 'assets/img/pages/home/extension/img-02.jpg'|theme }}" alt="user"></div>
                <div class="lt-testimonial-author-name">Alex Bezianis</div>
                <div class="lt-testimonial-author-position">Casa Salsa</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>Setting up the site was painless and the staff always responded in a timely manner to any questions we had.</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-img"><img class="circle responsive-img" src="{{ 'assets/img/pages/home/extension/img-03.jpg'|theme }}" alt="user"></div>
                <div class="lt-testimonial-author-name">Ismael Eng</div>
                <div class="lt-testimonial-author-position">Kellis Kerating Professional</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>