==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Welcome to the New Web</h2>
      <p class="flow-text">Essential Customer Outreach is at the forefront of technology. We explore and push the boundaries of new devices and platforms through internal projects. We test the limits to see what can be done, and how to apply it for our clients. With the proper application of technology, our team creates real-world business solutions.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-edit primary-color-text"></i>
      <h5>Development</h5>
      <p>Behind great design lies website development that contains solid coding and web application design with targeted features that place your business at a competitive advantage.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-science primary-color-text"></i>
      <h5>Design</h5>
      <p>Rich websites enable potential and existing consumers to learn about your products, services and provides them with a sense of ownership towards your company.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-exapnd2 primary-color-text"></i>
      <h5>Consulting</h5>
      <p>We also help you determine your business goals in a far better way than before. We are in complete touch with our client throughout the development life cycle.</p>
    </div>
  </div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-note2 primary-color-text"></i>
      <h5>Maintenance</h5>
      <p>Preserve your investment with regular maintenance, support and periodic upgrades. Just like cars, websites and applications require regular tune-ups to run smoothly.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-ribbon primary-color-text"></i>
      <h5>Integration</h5>
      <p>Regardless of device, we ensure that every Web-capable device delivers the functionality you desire, giving your customers access to the information they need on a timely basis.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-like2 primary-color-text"></i>
      <h5>Solutions</h5>
      <p>Web Development, Design, Blogs, Shopping Carts, E-Commerce, Mobile Apps, Scripts, Desktop, Social Media. Let us know what you got a mind, we have a solution for you.</p>
    </div>

  </div>
</div>