==
<div class="lt-row row">
  <div class="lt-col col m6 s12">
    <div class="parallax-container">
      <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/home/mainpage/web-development-design-south-florida.jpg'|theme }}" alt="image"></div>
    </div>
  </div>
  <div class="lt-col col m6 s12">
    <div class="lt-super-large-padding center">
      <div class="lt-col col s12">
        <h2 class="lt-title">Development / Design</h2>
      </div>
      <div class="lt-col col s12">
        <ul id="lt-materializecss-tab" class="lt-tabs tabs">
          <li class="tab lt-col col s4"><a class="active" href="#lt-materializecss-tab1">Plan</a></li>
          <li class="tab lt-col col s4"><a href="#lt-materializecss-tab2">Develop</a></li>
          <li class="tab lt-col col s4"><a href="#lt-materializecss-tab3">Deploy</a></li>
        </ul>
      </div>
      <div id="lt-materializecss-tab1" class="lt-tab-content lt-col col s12">
        <p>The most important task at this point is to get an understanding of your future project, the main goals you wish to get, and the target audience you want to attract.</p>
      </div>
      <div id="lt-materializecss-tab2" class="lt-tab-content lt-col col s12">
        <p>The developmental stage is the point where the project itself is created. At this time, all elements from the prototype and will be created and their functional developed.</p>
      </div>
      <div id="lt-materializecss-tab3" class="lt-tab-content lt-col col s12">
        <p>As a website gets more complex, simply pulling code from a central repo probably isn't going to cut it. Methodical, secure and transparent deployment is always part of our process.</p>
      </div>

      <a href="#lt-video-materializecss" class="btn-floating btn-large z-depth-0 lt-modal-trigger modal-trigger">
        <i class="large material-icons">play_arrow</i>
      </a>
      <div id="lt-video-materializecss" class="modal">
        <div class="modal-content">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lt-row row">
  <div class="lt-col col m6 s12">
    <div class="lt-super-large-padding center">
      <div class="lt-col col s12">
        <h2 class="lt-title">Social Media</h2>
      </div>
      <div class="lt-col col s12">
        <ul id="lt-octobercms-tab" class="lt-tabs tabs">
          <li class="tab lt-col col s4"><a class="active" href="#lt-octobercms-tab1">Connect</a></li>
          <li class="tab lt-col col s4"><a href="#lt-octobercms-tab2">Engage</a></li>
          <li class="tab lt-col col s4"><a href="#lt-octobercms-tab3">Interact</a></li>
        </ul>
      </div>
      <div id="lt-octobercms-tab1" class="lt-tab-content lt-col col s12">
        <p>We offer a full range of solutions to expose your business to massive social media audiences, from social media publishing integration to full-sized social CRM solutions.</p>
      </div>
      <div id="lt-octobercms-tab2" class="lt-tab-content lt-col col s12">
        <p>Engage extensive online communities and crowdsource ideas with social networking features, shoppable functionality, in-network games and other custom systems for in-network interaction.</p>
      </div>
      <div id="lt-octobercms-tab3" class="lt-tab-content lt-col col s12">
        <p>Following a strategy centered on creation of shared value requires a reliable technology core to drive user participation and contribution. </p>
      </div>

      <a href="#lt-video-octobercms" class="btn-floating btn-large z-depth-0 lt-modal-trigger modal-trigger">
        <i class="large material-icons">play_arrow</i>
      </a>
      <div id="lt-video-octobercms" class="modal">
        <div class="modal-content">
          <div class="video-container">
            <iframe src="https://player.vimeo.com/video/79963873" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lt-col col m6 s12">
    <div class="parallax-container">
      <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/home/mainpage/social-media-branding-south-florida.jpg'|theme }}" alt="image"></div>
    </div>
  </div>
</div>