==
<div class="lt-row row">
  <div class="lt-col col s12">
    <div class="lt-slider slider fullscreen">
      <ul class="slides">
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/web-development-south-florida.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Professional Web Development</h2>
            <h5 class="lt-slider-subtitle">Custom, E-Commerce, Web &amp; Mobile Apps</h5>
            <div class="lt-slider-button">
              <a href="/about" class="waves-effect waves-light btn-large primary-color-background">Find Out More<i class="material-icons right">input</i></a>
            </div>
            <div class="lt-slider-links">
              <a href="/about?#what-we-do">Details</a> or <a href="/contact">Contact Us</a>
            </div>
          </div>
        </li>
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/web-design-south-florida.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Modern Responsive Web Design</h2>
            <h5 class="lt-slider-subtitle">Beautiful, SEO &amp; Mobile Friendly</h5>
            <div class="lt-slider-button">
              <a href="/about" class="waves-effect waves-light btn-large primary-color-background">Find Out More<i class="material-icons right">input</i></a>
            </div>
            <div class="lt-slider-links">
              <a href="/about?#what-we-do">Details</a> or <a href="/contact">Contact Us</a>
            </div>
          </div>
        </li>
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/social-media-south-florida.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Social Media Integration</h2>
            <h5 class="lt-slider-subtitle">Connect with your world</h5>
            <div class="lt-slider-button">
              <a href="/about" class="waves-effect waves-light btn-large primary-color-background">Find Out More<i class="material-icons right">input</i></a>
            </div>
            <div class="lt-slider-links">
              <a href="/about?#what-we-do">Details</a> or <a href="/contact">Contact Us</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>