==
<div class="lt-row row">
  <div class="lt-col col s12">
    <h2 class="lt-title center">Who We Are</h2>
    <p class="center">At Essential Customer Outreach, we have assembled a talented team of digital strategists, designers, developers, marketers, communications specialists, project managers and business developers to work in a collaborative manner on our client projects. We build on each other's expertise, working together in teams to generate great outcomes for projects.</p>
    <p class="center">What makes our company great? That’s simple. It’s the people and the culture. The team members at Essential Customer Outreach are some of the most creative, interesting and dedicated people you'll ever meet, exactly the kind of people you'd love to work with.</p>
  </div>
</div>