==
<!-- Dropdown Structure -->
<ul id="services" class="dropdown-content">
  <li><a href="{{ 'services/web-development-services'|page }}">Development</a></li>
  <li><a href="{{ 'services/web-design-services'|page }}">Design</a></li>
  <li><a href="{{ 'services/social-media-services'|page }}">Social Media</a></li>
  <li><a href="{{ 'services/domain-management-solutions'|page }}">Domains</a></li>
</ul>

<div class="lt-navbar navbar-fixed">
  <nav class="lt-no-background">
    <div class="nav-wrapper">
      <div class="lt-container container">
        <a href="{{ 'home'|page }}" class="brand-logo white-text">Essential Outreach</a>
        <a href="#" data-activates="mobile-menu" class="lt-mobile-toggle button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Home</a></li>
          <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">About</a></li>
          <li>
              <a class="dropdown-button" href="#!" data-activates="services">
                  Services<i class="material-icons right">arrow_drop_down</i>
              </a>
          </li>
          <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'portfolio'|page }}">Portfolio</a></li>
          <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}">Blog</a></li>
          <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li>
        </ul>
        
        <ul class="side-nav" id="mobile-menu">
          <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Home</a></li>
          <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">About</a></li>
          <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'portfolio'|page }}">Portfolio</a></li>
          <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}">Blog</a></li>
          <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>